# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

src/auth
src/processing/
src/storage/
src/utils/
src/scheduled/

lib/
.env
.runtimeconfig.json
.firebase/
*.log
*.bak
.firebaserc
.DS_Store
yarn-error.log
*.cache